@using WebApp.Common
@model IEnumerable<WebApp.Models.CustomizeOrder>
@{
    ViewBag.Title = "Order";
}

@section Styles{
    @Styles.Render("~/Content/AdminCss")

    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <!-- Placed js at the end of the document so the pages load faster -->
}

@section Scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- chart -->
    <script src="~/Content/Admin/js/Chart.js"></script>
    <!-- //chart -->
    <script src="~/Content/Admin/js/wow.min.js"></script>

    <!--//end-animate-->
    <script src="~/Content/Admin/js/jquery-1.10.2.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/media/js/jquery.dataTables.js"></script>

}

@section JsFooter{
    <script type="text/javascript">
        $(document)
            .ready(function() {
                $('#tblAccount')
                    .DataTable({
                        responsive: true
                    });
            });
    </script>
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
}

<div id="page-wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Order Management</h3>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <div class="responsive-table">
                    <table id="tblAccount" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">BUYER</th>
                                <th class="text-center">ORDER DATE</th>
                                <th class="text-center">DELIVERY DATE</th>
                                <th class="text-center">TOTAL</th>
                                <th class="text-center">Status</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td id="buyerName-@item.Order.id" data-buyername="@item.Username" class="text-center">@item.Username</td>
                                    <td id="email-@item.Order.id" class="text-center">@(item.Order.orderDate.ToShortDateString())</td>
                                    <td id="address-@item.Order.id" class="text-center">@(null != item.Order.DeleveryDate ? item.Order.DeleveryDate.ToShortDateString() : "PENDING")</td>
                                    <td id="total-@item.Order.id" data-total="@item.Order.total" class="text-center">@(item.Order.total.ToString("N0") + " VND")</td>
                                    <td id="address-@item.Order.id" class="text-center">@(true == item.Order.statusOfOrder ? "DELIVERIED" : "PENDING")</td>

                                    @*<td>
                                            <a href="#" class="btn btn-primary btn-block btn-admin" data-id="@item.id">@(role == Constant.AdminRole ? "UNADMIN" : "ADMIN")</a>
                                        </td>*@
                                    @{
                                        var url = "/OrderDetail/ViewDetail?orderId=" + item.Order.id + "&buyerName=" + item.Username + "&total=" + item.Order.total;
                                    }
                                    <td>
                                        <a href="@url" class="btn btn-warning btn-block btn-viewdetail"
                                           style="background-color: #1B54CF !important; font-weight: 700; border-color: #4979E3; border-radius: 0px;"
                                           data-id="@item.Order.id">VIEW DETAIL</a>
                                    </td>
                                </tr>

                                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
