@model IEnumerable<WebApp.Models.Account>
@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/AdminCss")

    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <!-- Placed js at the end of the document so the pages load faster -->
}

@section Scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- chart -->
    <script src="~/Content/Admin/js/Chart.js"></script>
    <!-- //chart -->
    <script src="~/Content/Admin/js/wow.min.js"></script>

    <!--//end-animate-->
    <script src="~/Content/Admin/js/jquery-1.10.2.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/media/js/jquery.dataTables.js"></script>

}
@section JsFooter{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAccount')
                .DataTable({
                    responsive: true
                });
        });</script>
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Account Manage</h3>
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <div class="responsive-table">
                <table id="tblAccount" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="info">ID</th>
                            <th class="info">USername</th>
                            <th class="info">PassWord</th>
                            <th class="info">Emai</th>
                            <th class="info">Addres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.username</td>
                                <td>@item.password</td>
                                <td>@item.email</td>
                                <td>@item.address</td>
                            </tr>

                        }

                    </tbody>
                </table>
                <a class="btn btn-primary" href="/Admin/Add">ADD</a>
            </div>
        </div>
    </div>
</div>
