@model IEnumerable<WebApp.Models.Product>
@{
    ViewBag.Title = "Index";
}
@section Styles{
    @Styles.Render("~/Content/HomepageCss")
    <link rel="stylesheet" type="text/css" href="/Content/Customer/css/jquery-ui.css">

}
@section Scripts{
    @Scripts.Render("~/Content/HomepageJs")
}

@section JsFooter{
    <!--script-->
    <script>
        $(document).ready(function () {
            $(".tab1 .single-bottom").hide();
            $(".tab2 .single-bottom").hide();
            $(".tab3 .single-bottom").hide();
            $(".tab4 .single-bottom").hide();
            $(".tab5 .single-bottom").hide();

            $(".tab1 ul")
                .click(function() {
                    $(".tab1 .single-bottom").slideToggle(300);
                    $(".tab2 .single-bottom").hide();
                    $(".tab3 .single-bottom").hide();
                    $(".tab4 .single-bottom").hide();
                    $(".tab5 .single-bottom").hide();
                });
            $(".tab2 ul")
                .click(function() {
                    $(".tab2 .single-bottom").slideToggle(300);
                    $(".tab1 .single-bottom").hide();
                    $(".tab3 .single-bottom").hide();
                    $(".tab4 .single-bottom").hide();
                    $(".tab5 .single-bottom").hide();
                });
            $(".tab3 ul")
                .click(function() {
                    $(".tab3 .single-bottom").slideToggle(300);
                    $(".tab4 .single-bottom").hide();
                    $(".tab5 .single-bottom").hide();
                    $(".tab2 .single-bottom").hide();
                    $(".tab1 .single-bottom").hide();
                });
            $(".tab4 ul")
                .click(function() {
                    $(".tab4 .single-bottom").slideToggle(300);
                    $(".tab5 .single-bottom").hide();
                    $(".tab3 .single-bottom").hide();
                    $(".tab2 .single-bottom").hide();
                    $(".tab1 .single-bottom").hide();
                });
            $(".tab5 ul")
                .click(function() {
                    $(".tab5 .single-bottom").slideToggle(300);
                    $(".tab4 .single-bottom").hide();
                    $(".tab3 .single-bottom").hide();
                    $(".tab2 .single-bottom").hide();
                    $(".tab1 .single-bottom").hide();
                });
        });
    </script>
    <!--//script -->
    <!---->
    <script type="text/javascript" src="/Content/Customer/js/jquery-ui.min.js"></script>

    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100000,
                values: [500, 100000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        });//]]>
    </script>
    <!---->

    <script type="text/javascript">
        $(document)
            .ready(function() {
                $('.add-item-to-cart')
                    .on('click',
                        function(e) {
                            e.preventDefault();
                            var btn = $(this);
                            var idProduct = btn.attr('data-id');
                            var quantity = $('#quantity-' + idProduct).val();

                            $.ajax({
                                url: "/ShoppingCart/AddIemToCart",
                                dataType: "json",
                                type: "POST",
                                data: {
                                    idProduct: idProduct,
                                    quantity : quantity
                                },
                                success: function(response) {
                                    var status = response.status;
                                    if (true == status) {
                                        $('.alert-msg-add-item-cart').animate({ opacity: '1' }, 2000).animate({ opacity: '1' }, 1000).animate({ opacity: '0' }, 2000);
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert("Add item error !!");
                                }
                            });
                        });
            });
    </script>

}

<div class="products">
    <div class="container">
        <h2>Searching Result for "@ViewBag.TxtSearchKey"</h2>

        <div class="col-md-10 col-md-offset-2 product-model-sec">
            @foreach (var item in Model)
            {
                var discountPrice = (Decimal)(item.price - item.price * item.discount / 100);
                <div class="product-grid">
                    <a href="single.html">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="@item.image" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button>View</button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>@item.name</h4>

                            <span class="item_price">@(discountPrice.ToString("N0") + "VND")</span>
                            <div class="ofr">
                                <p class="pric1">
                                    <del>@(item.price.ToString("N0") + "VND")</del>
                                </p>
                                <p class="disc">[@item.discount.ToString()% Off]</p>
                            </div>
                            <input type="text" id="quantity-@item.id" class="item_quantity text-center" value="1" />
                            <a class="btn item_add items add-item-to-cart" data-id="@item.id">Add</a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            }


        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<div class="alert-msg-add-item-cart">
    <div class="alert alert-success" role="alert">
        <strong>The product has been added to cart!!!!</strong>
    </div>
</div>