
@{
    ViewBag.Title = "_HomePageLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Yummy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
    <!-- cart -->
</head>
<body>
    
    <!--header-->
    @{Html.RenderPartial("_HeaderHomePage");}
    <!--//header-->
    
    @RenderBody()

    <!--footer-->
    @{Html.RenderPartial("_FooterHomepage");}
    <!--//footer-->
    
    @RenderSection("JsFooter", false)
    @Scripts.Render("~/Content/HomepageJsFooter")
</body>
</html>
