@using WebApp.Common
@model IEnumerable<WebApp.Models.Account>
@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/AdminCss")

    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <!-- Placed js at the end of the document so the pages load faster -->
}

@section Scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- chart -->
    <script src="~/Content/Admin/js/Chart.js"></script>
    <!-- //chart -->
    <script src="~/Content/Admin/js/wow.min.js"></script>

    <!--//end-animate-->
    <script src="~/Content/Admin/js/jquery-1.10.2.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/media/js/jquery.dataTables.js"></script>

}
@section JsFooter{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('#tblAccount')
                    .DataTable({
                        responsive: true
                    });
                $('.btn-ban').off('click').on('click',
                    function (e) {
                        e.preventDefault();
                        var btn = $(this);
                        var idUser = btn.data('id');
                        $.ajax({
                            url: "/Account/BanAccount",
                            data: { id: idUser },
                            dataType: "json",
                            type: "POST",
                            success: function (response) {
                                var result = response.status;
                                if (result) {
                                    $('#role-' + idUser).text("@Constant.Ban");
                                    btn.remove('btn-ban');
                                    btn.addClass('btn-unban');
                                    btn.text('UNBAN');
                                }
                            }
                        });
                    });
                $('.btn-unban').off('click').on('click',
                    function (e) {
                        e.preventDefault();
                        var btn = $(this);
                        var idUser = btn.data('id');
                        $.ajax({
                            url: "/Account/UnbanAccount",
                            data: { id: idUser },
                            dataType: "json",
                            type: "POST",
                            success: function (response) {
                                var result = response.status;
                                if (result) {
                                    $('#role-' + idUser).text("@Constant.Customer");
                                    btn.remove('btn-unban');
                                    btn.addClass('btn-ban');
                                    btn.text('BAN');
                                }
                            }
                        });
                    });
                $('.btn-resetpassword').off('click').on('click',
                    function (e) {
                        e.preventDefault();
                        var btn = $(this);
                        var idUser = btn.data('id');
                        $.ajax({
                            url: "/Account/ResetPassword",
                            data: { id: idUser },
                            dataType: "json",
                            type: "POST",
                            success: function (response) {
                                var result = response.status;
                                if (result) {
                                    alert('ID : ' + idUser + ' has been set 123abc');
                                }
                            }
                        });
                    });
            });
    </script>
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Account Manage</h3>
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <div class="responsive-table">
                <table id="tblAccount" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="info">ID</th>
                            <th class="info">Username</th>
                            <th class="info">Password</th>
                            <th class="info">Email</th>
                            <th class="info">Address</th>
                            <th class="info"></th>
                            <th class="info"></th>
                            <th class="info"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td id="username-@item.id">@item.username</td>
                                <td id="email-@item.id">@item.email</td>
                                <td id="address-@item.id">@item.address</td>

                                @{
                                    var role = item.role;
                                    if (0 == role)
                                    {
                                        <td id="role-@item.id">
                                            SUPERADMIN
                                        </td>
                                    }
                                    else if (role == 1)
                                    {
                                        <td id="role-@item.id">
                                            ADMIN
                                        </td>
                                    }
                                    else if (role == 2)
                                    {
                                        <td id="role-@item.id">
                                            CUSTOMER
                                        </td>
                                    }
                                    else if (role == 3)
                                    {
                                        <td id="role-@item.id">
                                            BAN
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="role-@item.id">
                                            BAN
                                        </td>
                                    }
                                }

                                <td>
                                    <a href="#" class="btn btn-primary btn-block btn-admin" data-id="@item.id">ADMIN</a>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-warning btn-block btn-resetpassword" data-id="@item.id">RESET PASSWORD</a>
                                </td>
                                @{
                                    if (3 == role)
                                    {
                                        <td>
                                            <a href="#" class="btn btn-danger btn-block btn-unban" data-id="@item.id">UNBAN</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="#" class="btn btn-danger btn-block btn-ban" data-id="@item.id">BAN</a>
                                        </td>
                                    }

                                }

                            </tr>

                                    }

                    </tbody>
                </table>
                <a class="btn btn-primary" href="/Account/Add">ADD</a>
                <a class="btn btn-primary" href="/Account/SendMail">Send Mail</a>
            </div>
        </div>
    </div>
</div>
