@using WebApp.Common
@model IEnumerable<WebApp.Models.Account>
@{
    ViewBag.Title = "Permission";
}

@section Styles{
    @Styles.Render("~/Content/AdminCss")

    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <!-- Placed js at the end of the document so the pages load faster -->
}

@section Scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- chart -->
    <script src="~/Content/Admin/js/Chart.js"></script>
    <!-- //chart -->
    <script src="~/Content/Admin/js/wow.min.js"></script>

    <!--//end-animate-->
    <script src="~/Content/Admin/js/jquery-1.10.2.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/media/js/jquery.dataTables.js"></script>

}

@section JsFooter{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('#tblPermission')
                    .DataTable({
                        responsive: true
                    });
                $('#tblPermission').off('click').on('click', '.btn-admin',
                    function (e) {
                        e.preventDefault();
                        var btn = $(this);
                        var text = btn.text();
                        var url;
                        if (text == ("@Constant.UnadminString")) {
                            url = "/Account/ToUnadmin";
                        } else {
                            url = "/Account/ToAdmin";
                        }

                        var idUser = btn.data('id');
                        $.ajax({
                            url: url,
                            data: { id: idUser },
                            dataType: "json",
                            type: "POST",
                            success: function (response) {
                                var result = response.status;
                                if (result) {
                                    if (text == ("@Constant.UnadminString")) {
                                        $('#role-' + idUser).text("@Constant.Customer");
                                        btn.text('@Constant.Admin');
                                    } else {
                                        $('#role-' + idUser).text("@Constant.Admin");
                                        btn.text('@Constant.UnadminString');
                                    }

                                }
                            }
                        });
                    });
            });
    </script>
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
}

<div id="page-wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Account Manage</h3>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <div class="responsive-table">
                    <table id="tblPermission" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Role</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.id</td>
                                    <td class="text-center" id="username-@item.id">@item.username</td>
                                    <td class="text-center" id="email-@item.id">@item.email</td>

                                    @{
                                        var role = item.role;
                                        if (0 == role)
                                        {
                                            <td class="text-center" id="role-@item.id">
                                                SUPERADMIN
                                            </td>
                                        }
                                        else if (role == 1)
                                        {
                                            <td class="text-center" id="role-@item.id">
                                                ADMIN
                                            </td>
                                        }
                                        else if (role == 2)
                                        {
                                            <td class="text-center" id="role-@item.id">
                                                CUSTOMER
                                            </td>
                                        }
                                        else if (role == 3)
                                        {
                                            <td class="text-center" id="role-@item.id">
                                                BAN
                                            </td>
                                        }
                                        else if (role == 4)
                                        {
                                            <td class="text-center" id="role-@item.id">
                                                BUYER
                                            </td>
                                        }
                                    }

                                    <td>
                                        <a href="#" class="btn btn-primary btn-block btn-admin"
                                           style="background-color: #1B54CF !important; font-weight: 700; border-color: #4979E3; border-radius: 0px;"
                                           data-id="@item.id">@(role == Constant.AdminRole ? Constant.UnadminString : Constant.Admin)</a>
                                    </td>

                                </tr>

                                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


